# macOS
.DS_Store
**/.DS_Store

# VS Code
.vscode/*
!.vscode/extensions.json

# Arduino / ESP32 / PlatformIO build files
build/
.pio/
*.bin
*.elf
*.map
*.hex

# CMake / compiled files
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile

# Logs
*.log

# Secrets / WiFi credentials
secrets.h
**/secrets.h
.env
*.env

# Python cache
__pycache__/
*.pyc
