#pragma once

#define WIFI_SSID "YOUR_WIFI_NAME"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

#define EDGEGUARD_AP_SSID "EdgeGuard-ESP32"
#define EDGEGUARD_AP_PASSWORD "change-this-password"

#define EDGEGUARD_API_TOKEN "change-this-local-token"
